extends layout

block content
  if name
    h1 Welcome #{name}!
  else
    form(action="/trackName" method="POST")
      input(type="text", name="name", placeholder="Username")
      input(type="password", name="password", placeholder="Password")
      button(type="submit") Submit
      p= error