extends layout

block content
  if name
    h1 Welcome #{name}!
  else
    input#user(type="text", placeholder="Username")
    input#password(type="password", placeholder="Password")
    button#track-submit(type="submit") Submit
    p= error 
  script(src='/js/trackName.js')